<div class="body-content">
    <div class="template-form">
        <h2>Add a new Bookmark</h2>
    
        <%= render partial: 'form', locals: { bookmark: @bookmark, topic: @topic } %>
    </div>
</div>
