<% if topics.any? %>
    <% topics.each do |topic| %>
        <div class="topic", id="topic#<%= topic.id %>">
            <h4><%= link_to "#{topic.title}", topic %></h4>
            <small>(has <%= pluralize(topic.bookmarks.count, "bookmark") %>)</small>
            <%= link_to "delete", topic, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "Are you sure you want to delete \"#{topic.title}\"?" }%>
        </div>
    <% end %>
<% else %>
    <p class="text-center">You do not have any topics just yet.</p>
<% end %>
