<% bookmarks.each do |mark| %>
    <div>
        <%= render partial: 'likes/like', locals: { topic: mark.topic, bookmark: mark } %>
        <%= link_to "#{mark.url}", [mark.topic, mark] %>
    </div>
<% end %>
