<div class="body-content">
    <h3>My Topics</h3>
    
    <div class="all-topics">
        <%= render partial: 'index', locals: { topics: @topics } %>
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success new-topic' %>
    </div>
</div>
