<h1><%= current_user.email %>'s Profile</h1>

<div>
    <h2>Your Topics</h2>
    <%= render partial: 'index', locals: { topics: @topics } %>
</div>
<br><br>
<div>
    <h2>Your Liked Bookmarks</h2>
    
    <%= render partial: 'likes/index', locals: { likes: @likes } %>
</div>
