<div class="body-content">
    <h3>My Bookmarks</h3>
    
    <div class="all-topics">
        <h2>By Topic:</h2>
        <%= render partial: 'index', locals: { topics: @topics } %>
    </div>
    <br><br>
    <div class="all-likes">
        <h2>Liked Bookmarks:</h2>
        
        <%= render partial: 'likes/index', locals: { likes: @likes } %>
    </div>
</div>
