<div class="body-content">
    <h2>About <i>Bookmark's-Manager</i></h2>
    
    <h4>A simple bookmark storage, and filing app.</h4>
    
    <p>As yet another Bloc.io backend project, Bookmark-Manager is a fairly
    simple app. The basic premise lays in a user having the ability to manage his
    bookmarks from the actual site, (Using CRUD for all topics, and bookmarks)
    this includes liking his bookmarks. As an added feature, one could send an email
    (from his registered email) with the subject as the title, and the url as the 
    email body. This allows the user to send bookmarks in to be saved later!</p>
    
    <h5>Features:</h5>
    <ul>
        <li>Create Topics (#pizza) to nest bookmarks under.</li>
        <li>Create Bookmarks.</li>
        <li>Like/Unlike Bookmarks.</li>
        <li>Email new bookmarks into the app.</li>
    </ul>
    
    <p>Note: To email into the app, you must send your email to: 
    sandboxeb276b1b55cf4b559ec1556750582bc2.mailgun.org</p>
    <p>Also note that this feature will only work in production.</p>
</div>