/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #f5f0d9;
}


// adds all the styling to the navbar
.nav {
    background-color: #f7ebb8;
    padding: 3px;
    margin-bottom: 8px;
    border-radius: 2px;
    box-shadow: 0px 2px 7px #888888;
    
    a {
        color: #a75454;
        font-size: 16px;
        padding: 2px 1px;
        text-decoration: none;
        
        &:hover {
            color: black;
            background-color: #efe09e;
            border-top: 1px solid #b9b088;
            border-bottom: 1px solid #b9b088;
            border-radius: 4px;
        }
    }
    
    .user-ctrl {
        float: right;
        
        p {
            font-size: 16px;
            display: inline;
        }
    }
}


// gives flash messages a fixed space at the top of the screen
.flash {
    min-height: 70px;
    
    .alert {
        margin-bottom: 0;
    }
}

// template styling for the app's body
.body-content {
    background-color: rgba(255, 247, 119, 0.2);
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted #ffffff;
    
    h3 {
        text-align: center;
        background-color: #f7f2cc;
    }
    
    .all-topics {
        padding: 3px;
        margin: 5px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-radius: 4px;
        box-shadow: 4px 5px 7px grey;
        
        
        // for home page view (user show)
        .topic-group {
            display: inline-block;
            vertical-align: top;
            padding: 3px;
            min-width: 49%;
            
            h4 {
                text-align: center;
            }
            
            a {
                color: grey;
                text-decoration: none;
            }
            
            .bookmark {
                padding: 2px;
                margin-bottom: 2px;
                border-radius: 3px;
                background-color: #f7b292;
                
                a {
                    color: #7b2e00;
                }
                
                &:hover {
                    background-color: #de9f82;
                }
                
                &:nth-child(even) {
                    background-color: #f7d29c;
                    
                    &:hover {
                        background-color: #d6b586;
                    }
                }
                
                .like-btn {
                    text-align: right;
                    
                    a {
                        color: white;
                    }
                }
            }
        }
        
        // for topic view (topic index)
        .topic {
            display: inline-block;
            vertical-align: top;
            min-width: 30%;
            margin: 4px;
            text-align: center;
            padding-bottom: 2px;
            border-radius: 3px;
            background-color: #f7b292;
            
            a {
                color: #7b2e00;
                text-decoration: none;
            }
            
            &:hover {
                background-color: #de9f82;
            }
            
            &:nth-child(even) {
                background-color: #f7d29c;
                
                &:hover {
                    background-color: #d6b586;
                }
            }
        }
        
        .new-topic {
            display: inherit;
            background-color: grey;
            width: 140px;
            margin: auto;
        }
    }
    
    .all-likes {
        padding: 3px;
        margin: 5px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-radius: 4px;
        box-shadow: 4px 5px 7px grey;
        
        .bookmark {
            position: relative;
            padding: 6px;
            margin-bottom: 4px;
            border-radius: 3px;
            background-color: #f7b292;
            
            a {
                color: #7b2e00;
                text-decoration: none;
                
                &.topic-ref {
                    color: #656354;;
                }
            }
            
            &:hover {
                background-color: #de9f82;
            }
            
            &:nth-child(even) {
                background-color: #f7d29c;
                
                &:hover {
                    background-color: #d6b586;
                }
            }
            
            .edit-delete {
                position: absolute;
                right: 2px;
                top: 1.5px;
            }
        }
    }
    
    // for topic show view
    .topic-edit {
        text-decoration: none;
        font-size: 10px;
        color: grey;
        padding: 2px;
        transition: font-size .2s;
        
        &:hover {
            font-size: 12px;
            color: #5a5a5a;
            background-color: #fffdec;
            border-radius: 3px;
        }
    }
    
    .all-bookmarks {
        padding: 3px;
        margin: 5px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-radius: 4px;
        box-shadow: 4px 5px 7px grey;
        
        .bookmark {
            display: inline-block;
            min-width: 49%;
            padding: 2px;
            margin: 2px;
            border-radius: 3px;
            background-color: #f7b292;
            
            a {
                color: #7b2e00;
                text-decoration: none;
            }
            
            &:hover {
                background-color: #de9f82;
            }
            
            &:nth-child(even) {
                background-color: #f7d29c;
                
                &:hover {
                    background-color: #d6b586;
                }
            }
            
            .like-btn {
                text-align: right;
                
                a {
                    color: white;
                }
            }
        }
        
        .new-bookmark {
            text-decoration: none;
            color: brown;
            background-color: #cec796;
            border-color: #b5b3a9;
            font-size: 18px;
            display: inherit;
            width: 180px;
            margin: auto;
            margin-top: 3px;
            
            &:hover {
                background-color: #e4dca2;
            }
        }
    }
    
    // for bookmark show view
    .bookmark-show {
        position: relative;
        margin: 2px;
        
        .like-btn {
            display: inline-block;
        }
        
        .edit-delete {
            position: absolute;
            right: 2px;
            top: 0;
        }
    }
    
    // default form template
    .template-form {
        text-align: center;
        
        form {
            max-width: 70%;
            margin: auto;
        }
    }
}

// Devise custom views
div.devise-container {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 247, 119, 0.2);
    color: #586471;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border: 1px dotted #ffffff;
    
    & a {
        color: #6888ae;
    }
    
    & form input.devise-field {
        width: 40%;
        margin: auto;
    }
    
    & #error_explanation {
        background-color: rgba(255, 0, 0, .1);
        text-align: left;
        width: 50%;
        margin: auto;
        padding: 0px 10px;
        border: 1px solid rgba(255, 0, 0, .2);
        border-radius: 5%;
        margin-bottom: 1em;
        
        & h2 {
            text-align: center;
        }
    }
}
